.gameWindow {
    background: url("../img/day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: none;
    text-align: center;
    /*ide robic dzien i noc */
    /* fascynujące */
    animation-fill-mode: forwards;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Kumbh Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
}

#kasztanowiec {
    background-image: url("../img/drzewokukankowe.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 468px;
    height: 360px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-right: -50%;
    cursor: pointer;
    transition: all 0.17s;
}

.falling_kasztan {
    width: 50px;
    height: 50px;
    background-image: url("../img/kasztan1.png");
    background-size: cover;
    opacity: 0.85;
    animation-name: kasztanRotation;
    animation-duration: 1s;
    transition: all 0.6s;
    position: absolute;
}

@keyframes kasztanRotation {
    0% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gameAppear {

    /* znowu animacja */
    0% {
        transform: scaleY(0);
        filter: opacity(0.5);
    }

    100% {
        transform: scaleY(1.0);
        filter: opacity(1);
    }
}