.gameWindow {
    background-color: black;
    color: white;
    display: none;
    text-align: center;
    animation-fill-mode: forwards;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Kumbh Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes gameAppear { /* znowu animacja */
    0%{
        transform: scaleY(0);
        filter: opacity(0.5);
    }
    100%{
        transform: scaleY(1.0);
        filter: opacity(1);
    }
}