.gameWindow {
    background: url("../img/day.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    color: white;
    display: none;
    text-align: center; /*ide robic dzien i noc */
    animation-fill-mode: forwards;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Kumbh Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
}

#kasztanowiec {
    background-image: url("../img/drzewokukankowe.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    width: 468px;
    height: 360px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%; 
    margin-right: -50%;
    cursor: pointer;
    transition: all 0.17s;
}

@keyframes gameAppear { /* znowu animacja */
    0%{
        transform: scaleY(0);
        filter: opacity(0.5);
    }
    100%{
        transform: scaleY(1.0);
        filter: opacity(1);
    }
}