@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.main_menu{
    text-transform: uppercase;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    background-color: #f7fafc;
    min-height: 100vh;
    animation-fill-mode: forwards;
}
.main_menu h1 { 
    font-weight: 400;
    font-size: 4em;
    padding-top: 20vh;
    font-family: 'Montserrat', sans-serif; /* czcionka */
}

button{
    font-family: 'Kumbh Sans', sans-serif; /* czcionka */
    margin-bottom: 40px;
    background: none;
    border: none;
    transition: 0.5s;
    width: 250px;
    height: 50px;
    border-radius: 5px; /* zaograklone rogi */
}

/* gdy przycisk najechany */
button:hover {
    background-color: #a3be8c; /* kolor przycisku */
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 700;
}

/* kolory przycisków */
#newgame:hover {
    background-color: #bf616a;
}

#credits:hover {
    background-color: #ebcb8b;
}

button[disabled]:hover{
    background-color: #c2c2c2;
}

/* obrazki przy przyciskach */
svg{
    margin-bottom: -4px;
    margin-left: 5px;
}

/* animacja */
@keyframes slideOut {
    0%{
        transform: scaleY(1.0);
        filter: opacity(1);
        display: block;
    }
    100%{
        transform: scaleY(0);
        filter: opacity(0.5);
    }
}

