body {
    font-family: sans-serif;

    user-select: none;
    overflow: hidden;
}

#counter {
    color: white;
    font-size: 64px;
    text-align: center;
}

#game {
    /* sizing */
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;

    /* duplicating fix, the image's set in the load func */
    background-repeat: no-repeat;
    background-size: cover;
}

#chestnut_tree {
    /* centering */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    background-image: url("./img/chestnut_tree.png");
    /* for image to not duplicate itself */
    background-repeat: no-repeat;
    background-size: cover;
    /* default sizing */
    width: 468px;
    height: 360px;

    cursor: pointer;

    /* that makes the growing feel less like its raw */
    transition: all 0.18s;
}

/* growing as its hovered/clicked */
#chestnut_tree:hover {
    width: 491px;
    height: 378px;
}

#chestnut_tree:active {
    width: 515px;
    height: 396px;
}